<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="SimpleInjector" version="3.1.4" targetFramework="net47" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.1.4" targetFramework="net47" />
  <package id="SimpleInjector.Extensions.LifetimeScoping" version="3.1.4" targetFramework="net47" />
  <package id="SimpleInjector.Integration.Web" version="3.1.4" targetFramework="net47" />
</packages>